html {
  font-family: -apple-system, BlinkMacSystemFont, Karla;
  background-color: #FFF8DC;
}

a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #B8860B;
}

a:hover {
  color: #B8860B;
}

body {
  color: #B8860B;
  max-width: 40em;
  padding: 1em 1em;
  margin: 0 auto;
}

p {
  margin-top: 0;
  padding-top: 0;
}

img {
  max-width: 100%;
}

.wrap {
  margin: 2em 0;
}