<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>airplanes</title>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet"/>
  <meta name="description" content="A photo 'zine of airplanes by Steve Klise">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%- yield %>
</body>
</html>
