<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>airplanes</title>
  <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Steve Klise">
  <meta name="description" content="{{site.description}}">
  <meta name="twitter:site" content="@skljse">
  <meta name="twitter:creator" content="@skljse">
  <meta name="twitter:card" content="{{site.description}}">
  <meta name="twitter:title" content="{{site.title}}">
  <meta name="og:title" content="{{site.title}}">
  <meta name="twitter:description" content="{{site.description}}">
  <meta name="og:description" content="{{site.description}}">
  <meta name="twitter:image" content="{{site.url}}{{site.img}}">
  <meta name="og:image" content="{{site.url}}{{site.img}}">
</head>
<body>
  {{content}}
</body>
</html>
